[Unit]
Description=ROBINsect main service
After=network.target

[Service]
WorkingDirectory=/home/pi/src/test/build
ExecStart=/home/pi/src/test/build/ROBINsect
Restart=always
StandardOutput=null
StandardError=syslog
SyslogIdentifier=ROBINsect
User=pi
Group=pi

[Install]
WantedBy=multi-user.target